
/*Type selector*/
h1{
/*!important prioritizes the style	*/
	color:green !important;
	text-align: center;
	font-size: 2rem;
}

/*Universal selector*/
*{
	font-family: "Courier New", monospace;
	font-size:20px;
}

/*ID selector*/
#zuitt-motto {
	/*letter spacing property changes the spaces in between characters of a text*/
	letter-spacing: 5px;

}

/*Class selector*/
.offering-item {
	/*text-transform property changes font to a certain case*/
	text-transform: uppercase;

}

/*Attribute selector*/
[required] {
	/*thickness of the border*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width 90%;
}

h3 {
	letter-spacing: 25px;
}

/*Selector combinators*/
/*adjacent sibling*/
h3 + img{
	height: 300px;
	width: 300px;
	/*border-radius makes the selected img circle*/
	border-radius: 150px;
}

/*Child Selector*/
body > section > ol > li {
	color: #E0AE44;
}

/*General Sibling Selector*/
h2 ~ a {
	text-decoration: none;
}

/*Descendant selector*/
#register label {
	color: rgb(0,0,120);
}

body {
	background-color: skyblue;
}

/*For the smoothness of the scrolling*/
html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/*For the hover effect*/
a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

section	{
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

h2 + form {
	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}