#par2 + p{
	color: yellow;
}

*{
	font-family: "Calibri", monospace;
	font-size:20px;
}

h1{
	font-size: 75px;
}

#header2{
	text-transform: uppercase;
}

.language{
	background-color: lightgreen;
}

[value]{
	border-style: solid;
	border-color: lightblue;
}

h3 + #others-list{
	list-style-type: none;}

section img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#others-list ~ p {
	text-align: center;
}

body > section > #others-list > li {
	letter-spacing: 15px;
}